
nav{
    float: right;
    display: flex;  
    justify-content: space-between;
}
header  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;

}
header  nav ul li a{
text-decoration: none;
}
a:hover{
color: rgb(255, 0, 0);
}
.content{
   
padding:20px 3% ;
margin-left:15%;
margin-right: 20%;
}
.content h1{
    margin: 20px;
}
.content h1 a{
    color: rgb(43, 197, 232);
    text-decoration: none;
    
}
.content h1 a:hover{
color: darkred;
}
span{
    color: #908d8d;
}
hr{
    margin-left: -10px;
    /* margin-right: -20px; */
    width: 600px;
    color: rgb(233, 236, 236);
}
footer{
    text-align: center;
     margin-bottom: 80px;
 }
i{
    font-size:200%;
   margin-left:20px ;
   margin-bottom: 20px;
}
i:hover{
    color: rgb(233, 12, 12);
  }
