nav{
    float: right;
    display: flex;  
    justify-content: space-between;
}
header  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;

}
header  nav ul li a{
text-decoration: none;
}
a:hover{
color: rgb(255, 17, 0);
}
/* .content{
   
padding:20px 3% ;
margin-left:15%;
margin-right: 20%;
} */
.button{
    display: flex;
 margin: 15px;
padding: 10px;
justify-content:flex-start;

}
.button p{
    margin: 9px;
    color:rgb(96, 97, 97)
}
.button  button{
    border: none;
    border-radius: 20px;
   background-color: rgb(2, 2, 44);
   color: rgb(232, 232, 238);
   padding: 10px 16px;
   margin-right: 20px;
}
hr{
    width: 900px;
}
.featr{
    margin: 20px auto;
    padding: 50px 10%;
    }
    .alls{
    display: flex;
    justify-content:flex-start;
    
    }
    .paragrph{
     margin-left: 30px;
     margin-bottom: 50px;
    }
    .paragrph h1{
        margin-bottom: -15px;
    }
    footer{
        text-align: center;
         margin-bottom: 80px;
     }
i{
    font-size:200%;
   margin-left:20px ;
}
.featr h1 a {
    text-decoration: none;
    color: rgb(1, 1, 1);
}
.featr h1 a:hover{
color: rgb(255, 0, 21);
}
i:hover{
    color: rgb(148, 236, 234);
  }